@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pacotes Turisticos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente facilis reprehenderit doloremque ipsa quis,
        dolore alias consequuntur! Quasi, reiciendis consequuntur. Provident quibusdam possimus delectus quidem
        consectetur dolores excepturi voluptas rerum!</p>
</div>
