@model PacotesTuristicos
@{
    ViewData["Title"] = "Cadastro";
}

<form asp-action="Cadastro" method="POST">
    <div>
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome">
    </div>
    <div>
        <label asp-for="Origem">Origem: </label>
        <input asp-for="Origem">
    </div>
    <div>
        <label asp-for="Destino">Destino </label>
        <input asp-for="Destino">
    </div>
    <div>
        <label asp-for="Atrativos">Atrativos: </label>
        <input asp-for="Atrativos">
    </div>
    <div>
        <label asp-for="Saida">Data Saida: </label>
        <input asp-for="Saida" type="date">
    </div>
    <div>
        <label asp-for="Retorno">Data Retorno: </label>
        <input asp-for="Retorno" type="date">
    </div>
    <div>
        <input type="Submit" value="Enviar">
    </div>
</form>
<p>
    @ViewBag.Mensagem
</p>